# Logs
logs
*.log
npm-debug.log*

node_modules
.next
out
*.tsbuildinfo

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.sw?

# Env
.env
.env.local
.env.*.local

.vercel
.env*.local
